/War3Ver/bin/Debug/ICSharpCode.SharpZipLib.dll
/War3Ver/bin/Debug/War3Ver.exe
/War3Ver/bin/Debug/War3Ver.exe.config
/War3Ver/bin/Debug/War3Ver.pdb
/War3Ver/bin/Debug/ver/war3version.ini
/War3Ver/bin/Debug/ver/版本1.27b.zip
/War3Ver/obj/Debug/CoreCompileInputs.cache
/War3Ver/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/War3Ver/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/War3Ver/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
/War3Ver/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/War3Ver/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/War3Ver/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/War3Ver/obj/Debug/War3Ver.AboutBox1.resources
/War3Ver/obj/Debug/War3Ver.Form1.resources
/War3Ver/obj/Debug/War3Ver.Properties.Resources.resources
/War3Ver/obj/Debug/War3Ver.csproj.FileListAbsolute.txt
/War3Ver/obj/Debug/War3Ver.csproj.GenerateResource.Cache
/War3Ver/obj/Debug/War3Ver.csprojResolveAssemblyReference.cache
/War3Ver/obj/Debug/War3Ver.exe
/War3Ver/obj/Debug/War3Ver.pdb
